In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
%matplotlib inline
import seaborn as sns

In [5]:
import matplotlib as mpl
import matplotlib.font_manager
 
[f.name for f in matplotlib.font_manager.fontManager.ttflist if 'Nanum' in f.name]
 
# 유니코드 깨짐현상 해결
mpl.rcParams['axes.unicode_minus'] = False
 
# 나눔고딕 폰트 적용
mpl.rcParams["font.family"] = 'NanumGothic'
 
# 그래프 전역으로 설정하기
# plt.rcParams.keys()
 
parameters = {
    'axes.labelsize' : 15,
    'xtick.labelsize' : 13,
    'ytick.labelsize' : 13
}
 
plt.rcParams.update(parameters)

In [20]:
kospi_data = pd.read_csv("./datasets/kospi_data.csv", encoding='cp949')
kosdaq_data = pd.read_csv("./datasets/kosdaq_data.csv", encoding='cp949')

In [21]:
kospi_data.head()

,일자,종가,대비,등락률,시가,고가,저가,거래량,거래대금,상장시가총액
0,2023/04/28,2501.53,5.72,0.23,2511.79,2517.13,2489.58,777535.0,14024831.0,1.979839e+09
1,2023/04/27,2495.81,10.98,0.44,2484.31,2499.01,2465.83,733500.0,11142115.0,1.974101e+09
2,2023/04/26,2484.83,-4.19,-0.17,2489.49,2498.56,2481.38,1089216.0,12397514.0,1.964554e+09
3,2023/04/25,2489.02,-34.48,-1.37,2531.35,2531.35,2472.33,886422.0,13681150.0,1.967148e+09
4,2023/04/24,2523.50,-20.90,-0.82,2538.36,2541.89,2518.73,927191.0,11589467.0,1.996622e+09

In [22]:
kosdaq_data.head()

,일자,종가,대비,등락률,시가,고가,저가,거래량,거래대금,상장시가총액
0,2023/04/28,842.83,-7.38,-0.87,860.11,860.11,839.67,1157792.0,12059369.0,401309248.0
1,2023/04/27,850.21,19.77,2.38,831.89,850.88,823.19,1461893.0,10760729.0,403491546.0
2,2023/04/26,830.44,-8.27,-0.99,835.94,846.42,829.19,1260645.0,9968275.0,394071418.0
3,2023/04/25,838.71,-16.52,-1.93,857.54,858.91,828.25,1540092.0,11771865.0,397824368.0
4,2023/04/24,855.23,-13.59,-1.56,867.38,870.08,852.48,1308673.0,10547590.0,405538683.0

In [25]:
sp500_data1 = pd.read_csv("./datasets/sp500_data1.csv")
sp500_data2 = pd.read_csv("./datasets/sp500_data2.csv")
sp500_data = pd.concat([sp500_data1, sp500_data2], axis=1)
sp500_data.head()

,날짜,종가,시가,고가,저가,거래량,변동 %,날짜,종가,시가,고가,저가,거래량,변동 %
0,2018- 12- 31,249.92,249.56,250.19,247.47,144.30M,0.88%,2023- 05- 03,408.02,411.36,413.87,407.77,88.96M,-0.69%
1,2018- 12- 28,247.75,249.58,251.40,246.45,153.10M,-0.13%,2023- 05- 02,410.84,414.77,414.82,407.82,103.45M,-1.12%
2,2018- 12- 27,248.07,242.57,248.29,238.96,186.27M,0.77%,2023- 05- 01,415.51,415.47,417.62,415.27,61.38M,-0.10%
3,2018- 12- 26,246.18,235.97,246.18,233.76,218.49M,5.05%,2023- 04- 28,415.93,411.49,415.94,411.43,89.43M,0.85%
4,2018- 12- 24,234.34,239.04,240.84,234.27,147.31M,-2.64%,2023- 04- 27,412.41,407.00,412.69,406.74,91.37M,1.99%

In [26]:
nasdaq_data1 = pd.read_csv("./datasets/nasdaq_data1.csv")
nasdaq_data2 = pd.read_csv("./datasets/nasdaq_data2.csv")
nasdaq_data = pd.concat([nasdaq_data1, nasdaq_data2], axis=1)
nasdaq_data.head()

,날짜,종가,시가,고가,저가,거래량,변동 %,날짜,종가,시가,고가,저가,거래량,변동 %
0,2018- 12- 31,154.26,154.47,154.98,152.71,53.02M,0.84%,2023- 05- 03,317.29,319.75,322.47,317.18,58.00M,-0.65%
1,2018- 12- 28,152.97,154.01,155.59,151.72,77.86M,-0.05%,2023- 05- 02,319.38,322.12,322.45,317.61,55.70M,-0.87%
2,2018- 12- 27,153.05,150.57,153.18,147.08,85.82M,0.39%,2023- 05- 01,322.19,322.09,323.63,321.09,40.30M,-0.11%
3,2018- 12- 26,152.46,145.12,152.54,144.09,98.98M,6.24%,2023- 04- 28,322.56,320.11,322.65,318.96,59.71M,0.69%
4,2018- 12- 24,143.50,146.14,147.98,143.46,56.16M,-2.76%,2023- 04- 27,320.35,315.70,320.86,315.05,62.64M,2.72%

In [28]:
merged_df = pd.merge(kospi_data, kosdaq_data,sp500_data,nasdaq_data, on='종가')

merged_df

TypeError: merge() got multiple values for argument 'on'

In [ ]:
merged_df.to_csv('merged.csv', index=False)