# 랜덤 설정좌수, 환매좌수

In [7]:
import numpy as np
import pandas as pd

CU = 50000

rnd = np.random.randint(1, high=5, size=742, dtype=int)
설정 = rnd#*CU

rnd = np.random.randint(1, high=5, size=742, dtype=int)
환매 = rnd#*CU

temp = pd.DataFrame({"설정":설정, "환매":환매})
temp.head()

   설정  환매
0   3   3
1   4   4
2   4   1
3   1   4
4   2   3

In [8]:
temp.loc[temp['설정']<temp['환매'], '환매'].index

Int64Index([  3,   4,   6,   8,  14,  18,  20,  21,  22,  25,
            ...
            711, 714, 718, 722, 724, 728, 729, 733, 739, 741],
           dtype='int64', length=246)

In [9]:
temp['환매'] = temp.apply(lambda df :  df['설정']-1 if df['설정']<df['환매'] else df['환매'], axis=1)
temp.head()

   설정  환매
0   3   3
1   4   4
2   4   1
3   1   0
4   2   1

In [10]:
temp.loc[temp['설정']<temp['환매'], '환매'].index

Int64Index([], dtype='int64')

In [11]:
temp = temp*CU
temp.loc[0] = [1000000, 0]
temp.head()

        설정      환매
0  1000000       0
1   200000  200000
2   200000   50000
3    50000       0
4   100000   50000

In [12]:
temp.index = tot_df.index

NameError: name 'tot_df' is not defined

In [ ]:
temp.head()

In [ ]:
temp.to_csv("./실습07_설정환매_랜덤.csv")